name: Run tests on Pull Request or Push
on:
  push:
    branches:
      - gh-pages
  pull_request:
    branches:
      - gh-pages
    types:
      - opened
      - synchronize
      - ready_for_review
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Install npm dependencies
        run: npm install

      - name: Run test against code
        run: npm run test
